<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/layoutFile :: layout(~{::body}, 'productAddForm')}">
<body>

<div class="container py-4 py-lg-5 my-4">
    <div class="row justify-content-center default-header">
        <div class="col-md-6" style="width: 400px" >
            <div class="card border-0 shadow">
                <div class="card-body">

                    <h3 class="fs-base pt-4 pb-2">가게 등록</h3>

                    <form class="needs-validation" th:action="@{/store/add}" method="post" enctype="multipart/form-data"
                          autocomplete="off"
                          th:object="${storeAddFormDto}" novalidate="" >
                        <!--                        <input type="hidden" name="_csrf" value="d90bdd83-94e7-45af-974a-6ab0bc5bfddd">-->

                        <div class="mb-3">
                            <input class="form-control rounded-start" id="name" th:name="name" type="text" placeholder="가게 이름을 입력하세요" required="" name="name" value="">
<!--                            <div th:class="mt-1" th:if="*{name}"><small th:class="field-error" th:errors="*{name}"></small></div>-->
                        </div>
<!--                        <div class="mb-3 mt-2 align-items-center">-->
<!--                            <label for="multipartFile">-->
<!--                                <div class="btn-upload md-1">가게 로고</div>-->
<!--                            </label>-->
<!--                            <input class="form-control rounded-start customFileInput"   id="multipartFile"-->
<!--                                   th:errorclass="field-error"-->
<!--                                   th:field="*{multipartFile}"-->
<!--                                   type="file"-->
<!--                                   required>-->
<!--                            <small th:class="field-error" th:errors="*{roadAddress}"></small>-->
<!--                        </div>-->


                        <div class="mb-3">
                            <input class="form-control rounded-start" type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기">
                        </div>
                        <div class="mb-3">
                            <input class="form-control rounded-start" type="text" th:name="roadAddress" id="sample4_roadAddress" placeholder="도로명주소" readonly>
<!--                            <div th:class="mt-1" th:if="*{roadAddress}"><small th:class="field-error" th:errors="*{roadAddress}"></small></div>-->
                        </div>
                        <div class="mb-3">
                            <input class="form-control rounded-start" type="text" th:name="jibunAddress"  id="sample4_jibunAddress" placeholder="지번주소" readonly>
<!--                            <div th:class="mt-1" th:if="*{jibunAddress}"><small th:class="field-error" th:errors="*{jibunAddress}"></small></div>-->
                        </div>
                        <div class="mb-3">
                            <input class="form-control rounded-start" type="text" th:name="detailAddress" id="sample4_detailAddress" placeholder="상세주소" required>
<!--                            <div th:class="mt-1" th:if="*{detailAddress}"><small th:class="field-error" th:errors="*{detailAddress}"></small></div>-->
                        </div>
                        <div class="mb-3">
                            <input class="form-control rounded-start" type="text" th:name="extraAddress"  id="sample4_extraAddress" placeholder="참고항목" readonly>
<!--                            <div th:class="mt-1" th:if="*{extraAddress}"><small th:class="field-error" th:errors="*{extraAddress}"></small></div>-->
                        </div>

                        <!--                        <input type="text" id="sample4_roadAddress" placeholder="도로명주소">-->
                        <span id="guide" style="color:#999;display:none"></span>

                        <hr class="mt-4">
                        <div class="row text-end m-auto pt-4 w-100">
                            <button class="btn btn-primary" type="submit"><i class="ci-sign-in me-2 ms-n21"></i>가게 등록
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>
