<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/layoutFile :: layout(~{::body}, 'productAddForm')}">
<body>

<div class="container py-4 py-lg-5 my-4">
    <div class="row justify-content-center default-header">
        <div class="col-md-6" style="width: 400px" >
            <div class="card border-0 shadow">
                <div class="card-body">

                    <h3 class="fs-base pt-4 pb-2">가게 등록</h3>

                    <form class="needs-validation" th:action="@{/product/add/{categoryId}(categoryId=${categoryId})}" method="post" enctype="multipart/form-data"
                          autocomplete="off"
                          th:object="${productAddFormDto}"  >
                        <!--                        <input type="hidden" name="_csrf" value="d90bdd83-94e7-45af-974a-6ab0bc5bfddd">-->

                        <div class="mb-3">
                            <input class="form-control rounded-start" id="name" th:name="name" type="text" placeholder="가게 이름을 입력하세요" >
                            <div th:class="mt-1" th:if="${#fields.hasErrors('name')}"><small th:class="field-error" th:errors="*{name}"></small></div>
                        </div>
                        <div class="mb-3">
                            <input class="form-control rounded-start" type="text" th:name="price"  id="price" placeholder="가격을 입력하세요">
                            <div th:class="mt-1" th:if="${#fields.hasErrors('price')}"><small th:class="field-error" th:errors="*{price}"></small></div>
                        </div>
                        <div class="mb-3">
                            <input class="form-control rounded-start" type="text" th:name="count"  id="count" placeholder="개수를 입력하세요">
                            <div th:class="mt-1" th:if="${#fields.hasErrors('count')}"><small th:class="field-error" th:errors="*{count}"></small></div>
                        </div>
                        <div class="mb-3 mt-2 align-items-center">
                            <label for="multipartFile">
                                <div class="btn-upload md-1">물품 이미지</div>
                            </label>
                            <input class="form-control rounded-start customFileInput"   id="multipartFile"
                                   th:errorclass="field-error"
                                   th:field="*{image}"
                                   type="file"
                                   required>
                            <small th:class="field-error" th:errors="*{image}"></small>
                        </div>
                        <hr class="mt-4">
                        <div class="row text-end m-auto pt-4 w-100">
                            <button class="btn btn-primary" type="submit"><i class="ci-sign-in me-2 ms-n21"></i>물품 등록
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>
