<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/layoutFile :: layout(~{::body}, 'storeUpdateForm')}">
<body>
<div class="container py-4 py-lg-5 my-4">
    <div class="row justify-content-center default-header">
        <div class="col-md-6" style="width: 400px" >
            <div class="card border-0 shadow">
                <div class="card-body">

                    <h3 class="fs-base pt-4 pb-2">가게 등록</h3>

                    <form class="needs-validation" th:action="@{/store/{storeId}/update(storeId=${storeId})}" method="post" enctype="multipart/form-data"
                          th:object="${storeUpdateFormDto}"  >
                        <!--                        <input type="hidden" name="_csrf" value="d90bdd83-94e7-45af-974a-6ab0bc5bfddd">-->

                        <div class="mb-3">
                            <input class="form-control rounded-start" th:field="*{name}" type="text" placeholder="가게 이름을 입력하세요"  name="name" value="" required>
                            <div th:class="mt-1"  th:if="${#fields.hasErrors('name')}"><small th:class="field-error" th:errors="*{name}"></small></div>
                        </div>


                        <div class="mb-3 mt-2 align-items-center">
                            <label for="multipartFile">
                                <div class="btn-upload md-1">가게 로고</div>
                            </label>
                            <input class="form-control rounded-start customFileInput"   id="multipartFile"
                                   th:errorclass="field-error"
                                   th:field="*{image}"
                                   type="file"
                                   >
                            <small th:class="field-error" th:errors="*{image}"></small>
                        </div>

                        <div class="form-group  my-3">
                            <div class="form-check" >
                                <input class="form-check-input" name="status" th:field="*{status}" type="checkbox" id="input_product_status">
<!--                                <input type="hidden" name="_status" value="on"/> &lt;!&ndash; 히든 필드 추가, check box off 일때 false 를 줌 &ndash;&gt;-->
                                <label class="form-check-label" for="input_product_status">
                                    가게 오픈
                                </label>
                            </div>
                        </div>


                        <div class="mb-3">
                            <input class="form-control rounded-start" type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기" required>
                        </div>
                        <div class="mb-3">
                            <input class="form-control rounded-start" type="text"  th:field="*{roadAddress}" th:name="roadAddress" id="sample4_roadAddress" placeholder="도로명주소" required readonly>
                            <div th:class="mt-1"  th:if="${#fields.hasErrors('roadAddress')}"><small th:class="field-error" th:errors="*{roadAddress}"></small></div>
                        </div>
                        <div class="mb-3">
                            <input class="form-control rounded-start" type="text"  th:field="*{jibunAddress}" th:name="jibunAddress"  id="sample4_jibunAddress" placeholder="지번주소" required readonly>
                            <div th:class="mt-1" th:if="${#fields.hasErrors('jibunAddress')}"><small th:class="field-error" th:errors="*{jibunAddress}"></small></div>
                        </div>
                        <div class="mb-3">
                            <input class="form-control rounded-start" type="text"    th:field="*{detailAddress}" th:name="detailAddress" id="sample4_detailAddress" placeholder="상세주소" required>
                            <div th:class="mt-1" th:if="${#fields.hasErrors('detailAddress')}"><small th:class="field-error" th:errors="*{detailAddress}"></small></div>
                        </div>
                        <div class="mb-3">
                            <input class="form-control rounded-start" type="text"    th:field="*{extraAddress}" th:name="extraAddress"  id="sample4_extraAddress" placeholder="참고항목" readonly required>
                            <div th:class="mt-1" th:if="${#fields.hasErrors('extraAddress')}"><small th:class="field-error" th:errors="*{extraAddress}"></small></div>
                        </div>

                        <!--                        <input type="text" id="sample4_roadAddress" placeholder="도로명주소">-->
                        <span id="guide" style="color:#999;display:none"></span>

                        <hr class="mt-4">
                        <div class="row text-end m-auto pt-4 w-100">
                            <button class="btn btn-primary" type="submit"><i class="ci-sign-in me-2 ms-n21"></i>가게 등록
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script  th:inline="javascript">
    //본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
    function sample4_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var roadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 참고 항목 변수

                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if(data.buildingName !== '' && data.apartment === 'Y'){
                    extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraRoadAddr !== ''){
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                // document.getElementById('sample4_postcode').value = data.zonecode;
                document.getElementById("sample4_roadAddress").value = roadAddr;
                document.getElementById("sample4_jibunAddress").value = data.jibunAddress;

                // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                if(roadAddr !== ''){
                    document.getElementById("sample4_extraAddress").value = extraRoadAddr;
                } else {
                    document.getElementById("sample4_extraAddress").value = '';
                }

                var guideTextBox = document.getElementById("guide");
                // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                if(data.autoRoadAddress) {
                    var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                    guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                    guideTextBox.style.display = 'block';

                } else if(data.autoJibunAddress) {
                    var expJibunAddr = data.autoJibunAddress;
                    guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                    guideTextBox.style.display = 'block';
                } else {
                    guideTextBox.innerHTML = '';
                    guideTextBox.style.display = 'none';
                }
            }
        }).open();
    }
</script>
</body>

</html>
