<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/layoutFile :: layout(~{::body}, '가게 검색')}">




<body>
<!-- Single Page Header start -->
<header th:replace="~{fragment/singlePageHeader :: singlePageHeader('가게 검색')}"></header>
<!-- Single Page Header End -->

<!-- Fruits Shop Start-->
<div class="container-fluid fruite py-5">
    <div class="container py-5">
        <div class="tab-class ">
            <div class="row g-4">
                <div class="col-lg-12 text-start">
                    <h1>가게 검색 결과</h1>
                </div>
<!--                <div class="col-lg-8 text-end">-->
<!--                    <ul class="nav nav-pills d-inline-flex text-center mb-5">-->
<!--                        <li class="nav-item">-->
<!--                            <a class="d-flex m-2 py-2 bg-light rounded-pill active" data-bs-toggle="pill" href="#tab-1">-->
<!--                                <span class="text-dark" style="width: 130px;">All Products</span>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a class="d-flex py-2 m-2 bg-light rounded-pill" data-bs-toggle="pill" href="#tab-2">-->
<!--                                <span class="text-dark" style="width: 130px;">Vegetables</span>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a class="d-flex m-2 py-2 bg-light rounded-pill" data-bs-toggle="pill" href="#tab-3">-->
<!--                                <span class="text-dark" style="width: 130px;">Fruits</span>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a class="d-flex m-2 py-2 bg-light rounded-pill" data-bs-toggle="pill" href="#tab-4">-->
<!--                                <span class="text-dark" style="width: 130px;">Bread</span>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a class="d-flex m-2 py-2 bg-light rounded-pill" data-bs-toggle="pill" href="#tab-5">-->
<!--                                <span class="text-dark" style="width: 130px;">Meat</span>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
            </div>
            <hr>

            <div class="tab-content mt-5">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="row g-4">
                        <div class="col-lg-12">
                            <div class="row g-4">
                                <div class="col-md-6 col-lg-4 col-xl-4" th:each="storeSearchDto, stat : ${storeSearchDtos}">
                                    <div class="rounded position-relative fruite-item">
                                        <div class="fruite-img border  border-secondary border-bottom-0 ">
                                            <img th:src="|/store/image/${storeSearchDto.storeFileName}|" class="img-fluid rounded-top w-100" style="; height: 214px;">
                                        </div>
<!--                                        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">Fruits </div>-->
                                        <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                            <h4 th:text="${storeSearchDto.name}">Grapes</h4>
                                            <p th:text="${storeSearchDto.getJibunAddress()}">지번 주소</p>
                                            <div class="d-flex justify-content-between flex-lg-wrap">
<!--                                                <p class="text-dark fs-5 fw-bold mb-0">$4.99 / kg</p>-->
                                                <a th:href="|/store/${storeSearchDto.getId()}|" class="btn border border-secondary rounded-pill px-3 text-primary">
                                                    <i class="fa fa-shopping-bag me-2 text-primary">
                                                    </i>go to Store</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pagination d-flex justify-content-center mt-5">
                                    <a href="#" th:if="${pageDto.startPage} != 1" th:href="@{/store/search(query = ${query}, page = ${pageDto.startPage} - 2)}" class="rounded">«</a>
                                    <th:block th:if="${pageDto.endPage > 0}" th:each="pageNumber : ${#numbers.sequence(pageDto.startPage, pageDto.endPage)}">
                                        <a href="#" class="rounded"
                                           th:href="@{/store/search(query = ${query}, page = ${pageNumber} - 1)}"
                                           th:text="${pageNumber}"
                                           th:classappend="${pageNumber == pageDto.presentPage} ? 'active' : null"
                                        >1</a>
                                    </th:block>
                                    <a href="#" th:if="${pageDto.endPage} != ${pageDto.totalPage}" th:href="@{/store/search(query = ${query}, page = ${pageDto.endPage})}" class="rounded">»</a>
                                </div>
                             <!--   <div class="owl-item cloned mt-5 col-md-6 col-lg-4 col-xl-3" style="; height: 370px; margin-right: 10px;"  th:each="storeSearchDto, stat : ${storeSearchDtos}">
                                    <div class="border border-primary rounded position-relative vesitable-item">
                                        <div class="vesitable-img">
                                            <img th:src="|/store/image/${storeSearchDto.storeFileName}|" class="img-fluid w-100 rounded-top" style="width: 306px; height: 214px;">
                                        </div>
&lt;!&ndash;                                        <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px;">Vegetable</div>&ndash;&gt;
                                        <div class="p-4 rounded-bottom">
                                            <h4 th:text="${storeSearchDto.name}">Potatoes</h4>
                                            <p  th:text="${storeSearchDto.getJibunAddress()}">Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod te incididunt</p>
                                            <div class="d-flex justify-content-between flex-lg-wrap text-center">
                                                &lt;!&ndash;                                                    <p class="text-dark fs-5 fw-bold mb-0">$7.99 / kg</p>&ndash;&gt;
                                                <a th:href="|/store/${storeSearchDto.getId()}|" class="btn border border-secondary rounded-pill px-3 text-primary "><i class="fa fa-shopping-bag me-2 text-primary "></i>가게 입장</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fruits Shop End-->

</body>
</html>