<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/layoutFile :: layout(~{::body}, '회원가입')}">

<head>
<!--회원 가입 페이지 참고 링크: https://7942yongdae.tistory.com/86 -->
</head>
<body>
<div class="container py-4 py-lg-5 my-4">
    <div class="row justify-content-center default-header">
        <div class="col-md-6" style="width: 350px">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <h2 class="h4 mb-1">처음이신가요?</h2>

                    <h3 class="fs-base pt-4 pb-2">회원가입</h3>

                    <form class="needs-validation" action="" th:action="@{/member/add}" method="post" th:object="${addMemberFormDto}" autocomplete="off" novalidate="">
<!--                        <input type="hidden" name="_csrf" value="d90bdd83-94e7-45af-974a-6ab0bc5bfddd">-->
                        <div class="mb-3"><i class="ci-mail position-absolute top-50 translate-middle-y text-muted fs-base ms-3"></i>
                            <input class="form-control rounded-start" id="id" th:field="*{email}" type="email" placeholder="email을 입력하세요" name="email" value="" required>
                            <div th:class="mt-1"  th:if="${#fields.hasErrors('email')}"><small th:class="field-error" th:errors="*{email}"></small></div>
                        </div>

                        <div class="mb-3">
                            <input class="form-control rounded-start" id="name" type="text" th:field="*{name}" placeholder="이름을 입력하세요" name="name" value="" required >
                            <div th:class="mt-1"  th:if="${#fields.hasErrors('name')}"><small th:class="field-error" th:errors="*{name}"></small></div>
                        </div>

                        <div class="mb-3">
                                <input class="form-control" type="password" id="password" placeholder="비밀번호" th:field="*{password}" autocomplete="off" name="password" value="" required>
                            <div th:class="mt-1"  th:if="${#fields.hasErrors('password')}"><small th:class="field-error" th:errors="*{password}"></small></div>
                        </div>

                        <hr class="mt-4">
                        <div class="row text-end m-auto pt-4 w-100">
                            <button class="btn btn-primary" type="submit"><i class="ci-sign-in me-2 ms-n21"></i>Sign up
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>
