<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/layoutFile :: layout(~{::body}, 'myStore')}">
    <body>
    <!-- Single Page Header start -->
    <header th:replace="~{fragment/singlePageHeader :: singlePageHeader('myStores')}"></header>
    <!-- Single Page Header End -->

    <!-- Checkout Page Start -->
        <div class="container-fluid py-5">
            <div class="container py-5">
                <h1 class="mb-4">카테고리 및 물품 관리</h1>

                <!-- Button to Open the Modal -->
                <button type="button" class="btn border border-secondary rounded-pill px-3 text-primary h4 " data-bs-toggle="modal" data-bs-target="#myModal">
                    카테고리 추가
                </button>


                <!-- The Modal -->
                <div class="modal " id="myModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">카테고리 추가 </h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <!-- Modal body -->
                            <div class="modal-body">
                                <form class="needs-validation" th:action="@{/category/add/{storeId}(storeId=${storeId})}"  method="post" th:object="${categoryAddFormDto}">
                                    <div class="form-group">
                                        <label for="category-name" class="col-form-label">카테고리 이름: </label>
                                        <input type="text" class="form-control" id="category-name" th:field="*{name}" placeholder="카테고리 이름을 입력하세요" required >
<!--                                        <div th:class="mt-1" th:if="${#fields.hasErrors('name')}"><small th:class="field-error" th:errors="*{name}"></small></div>-->
<!--                                        <input type="hidden" class="form-control" id="storeId" name="storeId" th:value="${storeId}">-->

                                    </div>
                                    <div class="my-3" align="right">
                                        <button type="submit" class="btn btn-primary text-white">카테고리 등록</button>
                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">닫기</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <span id="category-group">
                    <button th:each="category, categoryStat : ${categorys}"
                            th:id="|category-tag-${categoryStat.count}|"
                            onclick=categoryTagClick(this)
                            type="button"
                            class="btn border btn-outline-secondary border-secondary  rounded-pill px-3 text-primary h4 me-2"
                            th:value="${category.id}"
                            th:name="${category.name}"
                            th:text="${category.name}">

                    </button>
                </span>

                    <div class="row g-5">
                        <div class="col-md-12 col-lg-6 col-xl-5">

                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <a id="productAdd" class="btn border  border-secondary rounded-pill px-3 text-primary h4" >물품 추가</a>

                                    <thead>
                                    <tr>
                                        <th class="text-center text-dark h4" scope="col">(카테고리) 리스트
                                        </th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                    </tr>

                                    <tr th:each="productMyStoreDto, productMystoreDtoStat :${productMyStoreDtos}">
                                        <td id="productName" th:id="|td_product_*{productMyStoreDto.categoryName}_${productMystoreDtoStat.count}|"
                                            class="py-3 text-center text-dark h3 visually-hidden-focusable"
                                            th:text="*{productMyStoreDto.name}"
                                            th:data-id = "*{productMyStoreDto.id}"
                                            th:data-name = "*{productMyStoreDto.name}"
                                            th:data-price = "*{productMyStoreDto.price}"
                                            th:data-count = "*{productMyStoreDto.count}"
                                            th:data-status = "*{productMyStoreDto.status}"
                                            th:data-description = "*{productMyStoreDto.description}"
                                            onclick=productClick(this)
                                        ></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>

                        <div class="col-md-12 col-lg-6 col-xl-7">
                        <form th:id="productUpdateForm" th:action method="post"  th:object="${productUpdateFormDto}" enctype="multipart/form-data" >
                            <div class="form-item">
                                <label class="form-label my-3">물품 이름</label>
                                <input id="input_product_name" type="text" th:name="name" class="form-control" placeholder="물품 이름을 입력하세요" required readOnly>
<!--                                <div th:class="mt-1" th:if="${#fields.hasErrors('name')}"><small th:class="field-error" th:errors="*{name}"></small></div>-->

                            </div>
                            <div class="form-item">
                                <label class="form-label my-3">가격</label>
                                <input id="input_product_price" type="text"  th:name="price" class="form-control" placeholder="물품 가격을 입력하세요" required readOnly>
                            </div>
                            <div class="form-item">
                                <label class="form-label my-3">수량</label>
                                <input id="input_product_count" type="text" th:name="count" class="form-control" placeholder="물품 개수를 입력하세요" required readOnly>
                            </div>
                            <div class="form-group  mt-3">
                                    <div class="form-check" >
                                        <input  class="form-check-input" name="status"    type="checkbox" id="input_product_status"  >
                                        <input type="hidden" name="_status" value="on"/> <!-- 히든 필드 추가, check box off 일때 false 를 줌 -->
                                        <label class="form-check-label" for="input_product_status">
                                            판매 여부
                                        </label>
                                    </div>
                            </div>

                            <div class="align-items-center">
                                <label class="form-label my-3" for="multipartFile">
                                    <div class="btn-upload md-1">물품 이미지</div>
                                </label>
                                <input  class="form-control rounded-start customFileInput" name="image"  id="multipartFile"
                                        type="file"
                                >
                            </div>


                            <div class="form-group">
                                <label class="form-label my-3"  for="input_product_description">물품 설명</label>
                                <textarea placeholder="물품 설명을 입력하세요" name="description" class="form-control" id="input_product_description" rows="3" required readOnly> </textarea>
                            </div>

                            <div class="float-end" >
                                <button class="btn border-secondary rounded-pill px-4 py-3 my-3 text-primary float-right" type="submit">물품 수정</button>
                            </div>

                        </form>


                        </div>

                    </div>
            </div>
        </div>
        <!-- Checkout Page End -->
    <script>
        let preCategoryTag = null;
        function categoryTagClick(element){
            // console.log(element.name)
            if (preCategoryTag !== null && element !== preCategoryTag)
                $('#' + preCategoryTag.id).removeClass("active text-white").addClass("text-primary");
            $('#' + element.id ).addClass("active text-white").removeClass("text-primary");
            preCategoryTag = element;
            if (element !== preCategoryTag) preCategoryTag = element
            $('#productAdd').attr("href","/product/add/" + element.value);
            $("[id^='td_product_']").addClass("visually-hidden-focusable");
            $("[id^='td_product_" + element.name + "']").removeClass("visually-hidden-focusable");
        }
        function productClick(e){
            $("[id^='td_product_']").removeClass("bg-secondary text-white").addClass("text-dark");
            $(e).addClass("bg-secondary text-white").removeClass("text-dark");


            $("#multipartFile").val('');
            $("#input_product_name").val($(e).data("name")).removeAttr("readOnly");
            $("#input_product_price").val($(e).data("price")).removeAttr("readOnly");
            $("#input_product_count").val($(e).data("count")).removeAttr("readOnly");
            $("#input_product_description").val($(e).data("description")).removeAttr("readOnly");
            $("#productUpdateForm").attr("action","/product/update/" + $(e).data("id"));
            if($(e).data("status") === 'DEADLINE'){
                $('#input_product_status').prop('checked',false);
            } else{
                $('#input_product_status').prop('checked',true);
            }

        }

    </script>
    </body>
</html>