<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/layoutFile :: layout(~{::body}, 'myStores')}">
<body>

<!-- Single Page Header start -->
<header th:replace="~{fragment/singlePageHeader :: singlePageHeader('myStores')}"></header>
<!-- Single Page Header End -->

<!-- Cart Page Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr th:class="text-center">
                    <th scope="col">로고</th>
                    <th scope="col">가게 이름</th>
                    <th scope="col">도로명 주소</th>
                    <th scope="col">가게 상태</th>
                    <th scope="col">가게 관리</th>
                    <th scope="col">가게 정보 수정</th>
                </tr>
                </thead>
                <tbody >
    <!--            <tr class="text-center" th:each="chatRoom, chatRoomStat : ${ memberChatRoomList }">
                    <td><a class="btn btn-primary btn-sm d-lg-inline-block" th:text="${ chatRoomStat.count }"
                           th:href="@{/members/myPage/room/{roomId}(roomId=${chatRoom.id})}"
                    ></a>
                    </td>
                    <td class="py-3 align-middle" th:text="${ chatRoom.name }"></td>
                    <td class="py-3 align-middle" th:text="${ chatRoom.productName }"></td>
                    <td class="py-3 align-middle" th:text="${ chatRoom.getMemberBuyer }"></td>
                </tr>-->

                <tr th:each="store :${stores}">
                <th scope="row" >
                        <div class="d-flex align-items-center">
                            <img src="/img/vegetable-item-3.png" th:src="|/store/image/${store.getStoreFileName()}|" class="rounded-circle mx-auto d-block" style="width: 80px; height: 80px;">
                        </div>
                    </th>
                    <td >
                        <p class="mb-0 mt-4 text-center" th:text="${store.getName()}">Big Banana</p>
                    </td>
                    <td>
                        <p class="mb-0 mt-4 text-center" th:text="${store.getRoadAddress()}">2.99 $</p>
                    </td>

                  <!--  <td>
                        <p class="mb-0 mt-4 text-center" th:text="${store.getJibunAddress()}">2.99 $</p>
                    </td>
                    <td>
                        <p class="mb-0 mt-4 text-center" th:text="${store.getDetailAddress()}">2.99 $</p>
                    </td>
                    <td>
                        <p class="mb-0 mt-4 text-center" th:text="${store.getExtraAddress()}">2.99 $</p>
                    </td>-->

                    <td>
                        <p class="mb-0 mt-4 text-center" th:text="${store.getStoreStatus()}">2.99 $</p>
                    </td>
                    <td>
                        <div align="center">
                            <a class="btn border mb-0 mt-3 text-center  border-secondary rounded-pill px-3 text-primary h4"
                            th:href="@{|/store/myStore/${store.getId()}|}"
                            >가게 관리</a>

                        </div>

                    </td>
                    <td>
                        <div align="center">
                            <a class="btn border mb-0 mt-3 text-center  border-secondary rounded-pill px-3 text-primary h4"
                               th:href="@{|/store/myStore/${store.getId()}/update|}"
                            >가게 수정</a>
                        </div>

                    </td>
                </tr>
                </tbody>
            </table>
            <div class="pagination d-flex justify-content-center mt-5">
                <a href="#" th:if="${pageDto.startPage} != 1" th:href="@{/store/myStores(page = ${pageDto.startPage} - 2)}" class="rounded">«</a>
                <th:block th:each="pageNumber : ${#numbers.sequence(pageDto.startPage, pageDto.endPage)}">
                    <a href="#" class="rounded"
                       th:href="@{/store/myStores(page = ${pageNumber} - 1)}"
                       th:text="${pageNumber}"
                       th:classappend="${pageNumber == pageDto.presentPage} ? 'active' : null"
                    >1</a>
                </th:block>
                <a href="#" th:if="${pageDto.endPage} != ${pageDto.totalPage}" th:href="@{/store/myStores(page = ${pageDto.endPage})}" class="rounded">»</a>
            </div>
        </div>
    </div>
</div>
<!-- Cart Page End -->

</body>
</html>